.fit-image {
    width: 100%;
    object-fit: cover;
}

table.social {
    height: 10px;
    width: 100px;
}

li.link {
    height: 20px;
    width: 20px;
    display: inline-block;
}

ul.links {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
